// change the default bg color of one dark pro theme
.ace-one-dark-pro {
  background-color: #131313 !important;
}
// change the default bg color of github dark theme
.ace-github-dark {
  background-color: #131313 !important;
}
// change the default bg color of ayu mirage theme
.ace-ayu-mirage {
  background-color: #131313 !important;
}